<div class="header">
    <div class="headerleft">
        <a href="index.html">
            <img class="toplogo" src="./img/logo.png" alt="logo">
        </a>
    </div>

    <div class="headerright">
        <nav class="nav">
            <a href="index.html">Start</a>
            <a href="Rezept 1.html">Rezept des Tages</a>
            <a href="Kontakt.html">Kontakt</a>
            <a href="Impressum.html">Impressum</a>
        </nav>

        <input type="checkbox" id="hamburger-input" class="burger-shower" />
        <label id="hamburger-menu" for="hamburger-input">
            <nav id="sidebar-menu">
                <ul>
                    <li><a href="index.html">Start</a></li>
                    <li><a href="Rezept 1.html">Rezept des Tages</a></li>
                    <li><a href="Kontakt.html">Kontakt</a></li>
                    <li><a href="Impressum.html">Impressum</a></li>
                </ul>
            </nav>
        </label>

        <div class="overlay"></div>
    </div>
</div>